name: Java 1.8

on:
   pull_request:
      branches:
         - master
jobs:
  build:
    name: Build on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
         os: [ubuntu-18.04, windows-2019, macOS-10.14]

    steps:
    - uses: actions/checkout@v1
      with:
        ref: master      
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn clean install
